body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    padding: 20px;
}

body {
    padding: 0 !important;
}

.btn {
    padding: 16px 20px;
    border-radius: 8px;
    background: lightGrey;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.center {
    text-align: center;
}

img {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.controls {
    z-index: 1000;
}
