@{
    ViewBag.Title = "Home Page";
}
<div class="centered">
    <p>Support the hunt for a cure</p>
    <h1>Lab Quest</h1>
    <img src="~/Content/man.png" />

    <p>
        REBELS WE HAVE A CAUSE</p>
    <p>
        Get out there and take on our reballious act to beat cancer.
        Stand Up To Cancer raises cash for life-saving cancer research. Place yourself in a researchers shoes and scavenge around the area to find pieces of your lab kit.

    </p>

    <a class="btn" href="/Home/Login/">Start your experience</a>

    <div class="bar">
        <p><b>Step 1</b> <br /> Find the location</p>
    </div>

    <img src="~/Content/img-1.jpg" />

    <p>
        Step 2: Open your camera &
        collect a piece of research kit
        researchers use to rewrite the
        rules in the fight against cancer.
    </p>

    <img src="~/Content/img-2.jpg" />

    <p>
        Cancer cells can run but they
        sure as hell can’t hide!
    </p>

    <a class="btn" href="/Home/Login/">Start your experience</a>
</div>