@{
    ViewBag.Title = "Login";
}


<div class="background">
    <div class="content-block">
<h2 class="center">Sign in:</h2>

<img src="~/Content/social.jpg" />

<h2 class="center small">Or continue without</h2>

<a class="btn btn-black" href="/Home/AR/">Get started</a>
</div></div>